
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Login{% endblock title %}</title>
     <link rel="stylesheet" href={% block file %} "{% static 'css/lead_create.css' %}" {% endblock file %}>
    
  </head>
  <body>

    <div class="home">
      <div class="form">
        <div class="form-content">
          <h2>Saydga kirish</h2>
          <form method="post">
            {% csrf_token %} {{form.as_p}}
            <hr>
            <h6><a href="{% url 'password_reset_view'%}">Parolni unutdingizmi?</a></h6>
            <button type="submit">Log in</button>
          </form>
            <a href="{% url 'signup'%}"><button>Sign Up</button></a>
        </div>
      </div>
    </div>
    
  </body>
</html>
