
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Login{% endblock title %}</title>
     <link rel="stylesheet" href={% block file %} "{% static 'css/lead_create.css' %}" {% endblock file %}>
    
  </head>
  <body>

    <div class="home">
      <div class="form">
        <div class="form-content">
        <h2>saytga kirish uchun linkni elektron pochtangizga yubordik</h2>
        </div>
      </div>
    </div>
    
  </body>
</html>
