
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Login{% endblock title %}</title>
     <link rel="stylesheet" href={% block file %} "{% static 'css/lead_create.css' %}" {% endblock file %}>
    
  </head>
  <body>

    <div class="home">
      <div class="form">
        <div class="form-content">
            <h1>Parol yangilash muvafaqqiyatli yakunlandi</h1>
            <p><b>Log in</b> tugmasini bosib saitga kirish bo'limiga o'ting! <b>username</b> va yangilangan <b>possword</b>ingizni kiriting!</p>
            <a href="{% url 'login'%}">Log in</a>
         </div>
      </div>
    </div>
    
  </body>
</html>



